---
layout: default
---
<h2>{{ page.title }}</h2>
<img src="http://cdn.dx.artsmia.org/miabday/images/{{page.objectId}}-800.jpg">
<img src="http://cdn.dx.artsmia.org/miabday/images/crop/{{page.objectId}}.jpg">
<div id="zoom"></div>
<footer>
  <a href="http://new.artsmia.org/100/share-the-art/"><h5>100</h5></a>
  <p id="share">
    <span>Share on: </span>
    <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fnew.artsmia.org%2F100%2Fshare{{page.url}}">facebook</a>
    <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fnew.artsmia.org%2F100%2Fshare{{page.url}}&message={{message}}">twitter</a>
  </p>
</footer>

